@import "../../Build/CesiumUnminified/Widgets/widgets.css";

html, body, #cesiumContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    list-style: none;
    width: 150px;
    height: 30px;
}

button {
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid rgb(68,68,68);
    background-color: rgb(48,51,54);
}
button:hover {
    border: 1px solid rgb(170,238,255);
    background-color: rgb(68,136,187);
}

/*去除Cesium默认版权信息*/
.cesium-widget-credits {
    display: none !important;
}

#graphTree {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 129px;
    height: 330px;
    background-color: rgba(255,255,255,.5);
    border-radius: 5px;
}

#graphTree ul {
    position: absolute;
    margin-left: -17px;
}

#btn1 {
    width: 86px;
    height: 28px;
}

#camera_input {
    position: absolute;
    top: 7px;
    right: 1030px;
    width: 190px;
    height: 172px;
    font-size: 18px;
    text-align: center;
    background-color: rgba(255,255,255,.5);
    border-radius: 5px;
}

#camera_input ul {
    position: absolute;
    margin-left: -27px;
}

input {
    width: 80px;
    height: 20px;
    border: none;
    outline: medium;
    border-radius: 5px;
}

span {
    color: #fff;
}

#btn_fly {
    position: absolute;
    top: 120px;
    left: 18px;
    width: 141px;
}

#mouseMove {
    position: absolute;
    bottom: 40px;
    left: 32%;
    width: 530px;
    height: 50px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    background-color: rgba(255,255,255,.5);
    border-radius: 5px;
}

#label_input {
    position: absolute;
    top: 7px;
    left: 10px;
    width: 222px;
    height: 200px;
    font-size: 18px;
    text-align: center;
    background-color: rgba(255,255,255,.5);
    border-radius: 5px;
}

#label_input_ul1 {
    position: absolute;
    width: 100px;
    margin-left: 42px;
}

#label_input_ul2 {
    position: absolute;
    width: 100px;
    color: #fff;
    margin-left: -51px;
}

#btn_label {
    position: absolute;
    top: 151px;
    left: 21px;
    width: 177px;
}

#manage {
    position: absolute;
    top: 7px;
    right: 84px;
    width: 56px;
    height: 32px;
}

#toolbar {
    position: absolute;
    top: 7px;
    left: 966px;
    width: 346px;
    height: 122px;
    text-align: center;
    background-color: rgba(255,255,255,.5);
    border-radius: 5px;
}

select {
    width: 305px !important;
    font-size: 18px;
    margin-bottom: 9px !important;
    margin-top: 21px !important;
}
